body {
  background-color: black;
}

form {
  margin: 10px;
  padding: 20px;
}

.form-control {
  margin: 5px;
}

.imghead {
  background-image: url("background.png");
  background-size: cover;
}

.jumbotron {
  background-color: black;
}

h1,
p {
  text-align: center;
  color: white;
}

.headline {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 25px;
  height: 150px;
  margin-bottom: 50px;
  background-color: black;
}

.portfolio {
  margin: 0 auto;
}

.mvp {
  height: 300px;
  width: 600px;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  align-content: center;
}

.profile {
  align-content: center;
}

section {
  margin: 10px;
}

.fab,
.fas {
  font-size: 100px;
  text-align: center;
}

.card {
  margin: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

img {
  padding-top: 10px;
}

.card-header {
  color: white;
  text-align: center;
  font-size: 25px;
}

.icon {
  text-align: center;
  display: inline-block;
}

.carousel-item {
  height: 80%;
}
