body {
}

p {
  text-align: left;
}
.parallax {
  /* The image used */
  background-image: url("/images/7150.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  margin: 10px;
  padding: 20px;
}

.form-control {
  margin: 5px;
}

.imghead {
  background-image: url("/images/259.jpg");
  background-size: cover;
}
.pf-img {
  background-image: url("/images/12147.jpg");
  background-size: cover;
}

.header-shadow {
  color: #ffffff;
  text-shadow: 2px 2px 2px #474747;
}

.jumbotron {
  background-color: black;
  margin-bottom: 0;
}

p {
  text-align: center;
  color: white;
}

.blue-shadow {
  box-shadow: 1px 2px 8px -1px rgba(0, 40, 255, 0.76);
  -webkit-box-shadow: 1px 2px 8px -1px rgba(0, 40, 255, 0.76);
  -moz-box-shadow: 1px 2px 8px -1px rgba(0, 40, 255, 0.76);
}

.dark-shadow {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.7);
}

.card {
  background-color: rgba(0, 0, 000000, 0.8);
}

.portfolio {
  margin: 0 auto;
}

.mvp {
  height: 300px;
  width: 600px;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  align-content: center;
}

.TextWrap {
  float: left;
  clear: right;
  margin: 10px;
}

.profile {
  align-content: center;
}

section {
  margin: 10px;
}

.fab,
.fas {
  font-size: 80px;
  text-align: center;
}

.card {
  margin: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

img {
  padding-top: 10px;
}

.card-header {
  color: white;
  text-align: center;
  font-size: 25px;
  text-shadow: 4px 4px 3px #0000ff;
  background-color: rgba(0, 0, 000000, 0.8);
}

.icon {
  text-align: center;
  display: inline-block;
}

.display-3 {
  font-size: 100px;
}

.btn {
  margin: 5px;
}

.btn:hover,
.nav-link {
  background-color: rgba(0, 0, 000000, 0.8);
}

h5 {
  color: white;
  text-shadow: 4px 4px 3px #0000ff;
}

@media (min-width: 320px) {
  .fab,
  .fas {
    font-size: 60px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-shadow: 4px 4px 3px #0000ff;
  }
}
@media (min-width: 480px) {
  .fab,
  .fas {
    font-size: 60px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-shadow: 4px 4px 3px #0000ff;
  }
}
@media (min-width: 600px) {
  .fab,
  .fas {
    font-size: 60px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-shadow: 4px 4px 3px #0000ff;
  }
}
@media (min-width: 801px) {
  .fab,
  .fas {
    font-size: 80px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-shadow: 4px 4px 3px #0000ff;
  }
}
@media (min-width: 1025px) {
  .fab,
  .fas {
    font-size: 100px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-shadow: 4px 4px 3px #0000ff;
  }
}
@media (min-width: 1281px) {
  .fab,
  .fas {
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-shadow: 4px 4px 3px #0000ff;
  }
}
