h1,
p {
  color: black;
  flex-wrap: wrap;
}

h4 {
  margin: 0 auto;
  justify-content: center;
}

body {
  background-image: linear-gradient(-90deg, rgb(0, 255, 179), rgb(0, 217, 255));
}

/* Added Page Style to Container Class */
.container {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-width: 1px;
}

/* Button Style */
.btn {
  padding: 3px;
  margin: 3px;
  border: 2px;
  border-color: white;
  transition-duration: 0.4s;
}

.d-flex {
  flex-wrap: wrap;
}

.TextWrap {
  float: left;
  margin: 10px;
}

#grad {
  background-image: linear-gradient(-90deg, rgb(0, 217, 255), rgb(0, 255, 179));
}

#grad2 {
  background-image: linear-gradient(-90deg, rgb(0, 255, 179), rgb(0, 217, 255));
}

button:hover {
  background-image: linear-gradient(-90deg, rgb(0, 255, 179), rgb(0, 217, 255));
}
