
h1, p {
    color: white;
}



body {
    background-color: white;
}

.container {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: red;
}

.btn {
    padding:3px;
    margin: 3px;
    border: 2px;
    border-color: white;
}

#image {
    float: left;
}


.d-flex {
    flex-wrap: wrap;
}